.navbar {
  background-color: #235391;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1800px;
  margin: 0 auto;
  padding-right: 2rem;
}

.navbar-logo {
  font-size: 1.8rem;
  font-weight: bold;
  padding-left: 1rem;
}

.navbar-brand {
  text-decoration: none;
  color: white;
}

.navbar-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
}

.navbar-menu li {
  margin-left: 1.5rem;
}

.navbar-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #ffdd57;
}

.logout-button {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
  font-family: "Cute Font", sans-serif;
  font-size: 1.8rem;
  padding: 0px;
}

.logout-button:hover {
  color: #ffdd57;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 1.7rem;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-menu {
    flex-direction: column;
    width: 100%;
    display: none;
  }

  .navbar-menu.open {
    display: flex;
  }

  .navbar-menu li {
    margin: 0.5rem 0;
  }

  .navbar-logo {
    font-size: 1.5rem;
  }

  .navbar-link {
    font-size: 1.5rem;
  }

  .logout-button {
    font-size: 1.5rem;
  }

  .hamburger {
    display: block;
  }
  .sign-in-button {
    padding: 0;
  }
}
